# R
.Rproj.user
.Rhistory
.RData

# files
Contact*.xlsx

# Datasets
Datasets/

# 忽略所有子目录和文件
**/.DS_Store
**/Thumbs.db

# Office temp Files
~$*

# Python
.ipynb_checkpoints/


# Mac OS
.DS_Store
._*

# Windows OS
desktop.ini

# LaTex
*.aux
*.bcf
*.log
*.run.xml
*.synctex.gz


Smith_2024_Cortex/
Haciahmet_2022_Psy/
Orellana-Corrales_2021_APP/
Lee_2023_Cognition/
Svensson_2023_QJEP/
Kirk_2025_BJP/
Bukowski_2021_AP/
Golubickis_2021_AP/
Hobbs_2023_PM/
Mcivor_2020_EJN/
Orellana-Corrales_2021_EP/
Svensson_2021_PR/
1_Data/Sun_2025/Sun_2025_Exp1_raw.csv
1_Data/Zhang_2023_NI/Zhang_2023_NI_Exp1_raw.csv
3_Reports/wqh_analysis_data.RData
/2_Code/Coding_Version
/3_Reports/Coding_Version
